<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail zaměstnance {{ employee.getName()}} {{ employee.getSurname()}}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="author" content="Daniel Šup">
    <meta name="keywords" content="{{ employee.getName()}} {{ employee.getSurname()}},{{ employee.getEmail()}}">
    <meta name="description" content="Detail zaměstnance {{ employee.getName()}} {{ employee.getSurname()}}.">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
<nav id="menu">
    <ul>
        <li><a href="{{ baseurl }}?page=prehled">Přehled zaměstnanců</a></li>
        <li><a href="{{ baseurl }}?page=vlozeni">Vložení nového zaměstnance</a></li>
    </ul>
</nav>
<nav id="drobeckovaNavigace">
    <ul>
        <li><a href="{{ baseurl }}index.php">Domovská stránka</a></li>
        <li><a href="{{ baseurl }}?page=prehled">Zaměstnanci</a></li>
        <li>Detail zaměstnance</li>
    </ul>
</nav>
<article>
<h1>Detail zaměstnance {{ employee.getName()}} {{ employee.getSurname()}}</h1>
<section>
    <img src="{{ baseurl }}photo/{{ employee.getPhoto()}}" alt="Foto zaměstnance Jmeno Prijmeni">
    <div class="information">
        <ul>
            <li><strong>{{ employee.getName()}} {{ employee.getSurname()}}</strong></li>
            <li>{{ employee.getEmail()}}</li>
            {% if employee.getPhone() is defined %}
            <li>{{ employee.getPhone()}}</li>
            {% endif %}
            {% if employee.getWeb() is defined %}
            <li>{{ employee.getWeb()}}</li>
            {% endif %}
            <li>
                {% for role in employee.getRoles() %}
                <dl>
                    {% if role.getIsVisible() %}
                    <dt>{{role.getTitle()}}</dt>
                    <dd>{{role.getDescription()}}</dd>
                    {% endif %}
                </dl>
                {% endfor %}
            </li>
            <li><a href="{{ baseurl }}?page=editace&id={{ employee.getId()}}">Editace zaměstnance</a></li>
            <li>Vytvořit účet zaměstnance</li>
        </ul>
    </div>
    {% if employee.getDescription() is defined %}
    <p>{{employee.getDescription()}}</p>
    {% endif %}
</section>
    <article>
</body>
</html>