<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editace zaměstnance {{employee.getName()}} {{employee.getSurname()}}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
<nav id="menu">
    <ul>
        <li><a href="{{ baseurl }}?page=prehled">Přehled zaměstnanců</a></li>
        <li><a href="{{ baseurl }}?page=vlozeni">Vložení nového zaměstnance</a></li>
    </ul>
</nav>
<nav id="drobeckovaNavigace">
    <ul>
        <li><a href="{{ baseurl }}index.php">Domovská stránka</a></li>
        <li><a href="{{ baseurl }}?page=prehled">Zaměstnanci</a></li>
        <li>Editace zaměstnance</li>
    </ul>
</nav>
    <form id="search" method="post" enctype="multipart/form-data">
        <div><label class="mandatory">Jméno</label><input type="text" name="name" value="{{employee.getName()}}"/></div>
        <div><label class="mandatory">Příjmení</label><input type="text" name="surname" value="{{employee.getSurname()}}"/></div>
        <div><label class="mandatory">E-mail</label><input type="text" name="email" value="{{employee.getEmail()}}"/></div>
        <div><label class="mandatory">Fotografie</label><input type="file" accept="image/*"  name="photo"/></div>
        <div><label>Telefon</label><input type="text" name="phone" value="{{employee.getPhone()}}"/></div>
        <div><label>Webové stránky</label><input type="text" name="website" value="{{employee.getWeb()}}"/></div>
        <div><label>Popis</label><textarea name="description">{{employee.getDescription()}}</textarea></div>
        <dl>
            {% for role in employee.getRoles() %}
                <dt>{{role.getTitle()}}</dt>
                <div><label>Název funkce</label><input type="text" name="role{{role.getId()}}Title" value="{{role.getTitle()}}"/></div>
                <div><label>Popis funkce</label><input type="text" name="role{{role.getId()}}Description" value="{{role.getDescription()}}"/></div>
                {% if role.getIsVisible() == true %}
            <div><label>Viditelná</label><input type="checkbox" checked name="role{{role.getId()}}Visible" value="1"/></div>
                {% else %}
            <div><label>Viditelná</label><input type="checkbox" name="role{{role.getId()}}Visible"/></div>
                {% endif %}
            <input type="submit" name="removeRole{{role.getId()}}" value="Odebrat funkci"/>
            {% endfor %}
        </dl>
        <div><label>Název funkce</label><input type="text" name="roleNewTitle"/></div>
        <div><label>Popis funkce</label><input type="text" name="roleNewDescription"/></div>
        <div><label>Viditelná</label><input type="checkbox" checked name="roleNewVisible" value="1"/></div>
        <input type="submit" name="addRole" value="Přidat další funkci"/>
        <div><label class="empty"></label><input type="submit" name="edit" value="Editovat zaměstnance"/></div>
    </form>
    <a href="{{baseurl}}?page=detail&id={{employee.getId()}}">Zpět na detail zaměstnance {{employee.getName()}} {{employee.getSurname()}}</a>
</body>
</html>