<!DOCTYPE html>
<html lang="en">
<head>
    <title>Domovská stránka</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="author" content="Daniel Šup">
    <meta name="keywords" content="zaměstnanci,evidence zaměstnanců,správa zaměstnanců">
    <meta name="description" content="Domovská stránka aplikace pro správu zaměstnanců.">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
    <form id="search">
        <input type="hidden" name="page" value="prehled"/>
        <div><label>Jméno</label><input type="text" name="name"/></div>
        <div><label>Příjmení</label><input type="text" name="surname"/></div>
        <div><label>Funkce</label><input type="text" name="role"/></div>
        <div><label>E-mail</label><input type="text" name="email"/></div>
        <div><label>Telefon</label><input type="text" name="phone"/></div>
        <div><label>Webové stránky</label><input type="text" name="website"/></div>
        <div><label class="empty"></label><input type="submit" id="searchEmployees" value="Vyhledat zaměstnance"/></div>
    </form>
<nav id="menu">
    <ul>
        <li><a href="{{ baseurl }}?page=prehled">Přehled zaměstnanců</a></li>
        <li><a href="{{ baseurl }}?page=vlozeni">Vložení nového zaměstnance</a></li>
    </ul>
</nav>
<nav id="drobeckovaNavigace">
    <ul>
        <li>Domovská stránka</li>
    </ul>
</nav>

</body>
</html>