<!DOCTYPE html>
<html lang="en">
<head>
    <title>Přehled zaměstnanců</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="author" content="Daniel Šup">
    <meta name="keywords" content="zaměstnanci,přehled zaměstnanců,seznam zaměstnanců">
    <meta name="description" content="Stránka se seznamem zaměstnanců.">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
    <form id="search">
        <input type="hidden" name="page" value="prehled"/>
        <div><label>Jméno</label><input type="text" name="name"/></div>
        <div><label>Příjmení</label><input type="text" name="surname"/></div>
        <div><label>Funkce</label><input type="text" name="role"/></div>
        <div><label>E-mail</label><input type="text" name="email"/></div>
        <div><label>Telefon</label><input type="text" name="phone"/></div>
        <div><label>Webové stránky</label><input type="text" name="website"/></div>
        <div><label class="empty"></label><input type="submit" id="searchEmployees" value="Vyhledat zaměstnance"/></div>
    </form>
    <nav id="menu">
        <ul>
            <li>Přehled zaměstnanců</li>
            <li><a href="{{ baseurl }}?page=vlozeni">Vložení nového zaměstnance</a></li>
        </ul>
    </nav>
    <nav id="drobeckovaNavigace">
        <ul>
            <li><a href="{{ baseurl }}index.php">Domovská stránka</a></li>
            <li>Přehled zaměstnanců</li>
        </ul>
    </nav>
        <form>
            <div>
                <input type="hidden" name="page" value="prehled"/>
                <label>Seřadit dle</label>
                <select name="razeni">
                    <option value="name">Jména</option>
                    <option value="surname" selected="selected">Příjmení</option>
                    <option value="phone">Telefonu</option>
                    <option value="email">E-mailu</option>
                    <option value="web">Webu</option>
                </select>
            </div>
            <div>
                <button>Seřadit</button>
            </div>
        </form>
        <article>
        <h1>Přehled zaměstnanců</h1>
        {% for employee in employees %}
            <section>
                <img src="{{ baseurl }}photo/{{employee.getPhoto()}}" alt="Foto zaměstnance Jmeno Prijmeni">
                <div class="information">
                    <ul>
                        <li><strong>{{ employee.getName() }} {{ employee.getSurname() }}</strong></li>
                        <li>{{ employee.getEmail() }}</li>
                        {% if employee.getPhone() is defined %}
                        <li>{{ employee.getPhone()}}</li>
                        {% endif %}
                        {% if employee.getWeb() is defined %}
                        <li>{{ employee.getWeb()}}</li>
                        {% endif %}
                        <li>
                            <ul>
                                {% for role in employee.getRoles() %}
                                    {% if role.getIsVisible() %}
                                        <li>{{ role.getTitle() }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ baseurl }}?page=detail&id={{employee.getId()}}">Detail zaměstnance</a></li>
                        <li><a href="{{ baseurl }}?page=editace&id={{employee.getId()}}">Editace zaměstnance</a></li>
                    </ul>
                </div>
            </section>
        {% endfor %}
        </article>
</body>
</html>