<!DOCTYPE html>
<html lang="en">
<head>
    <title>Žádná stránka s daným názvem neexistuje</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="author" content="Daniel Šup">
    <meta name="keywords" content="žádný taková stránka neexistuje">
    <meta name="description" content="Error - žádná stránka s tímto názvem neexistuje.">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
<nav id="menu">
    <ul>
        <li><a href="{{ baseurl }}?page=prehled">Přehled zaměstnanců</a></li>
        <li><a href="{{ baseurl }}?page=vlozeni">Vložení nového zaměstnance</a></li>
    </ul>
</nav>
<nav id="drobeckovaNavigace">
    <ul>
        <li><a href="{{ baseurl }}index.php">Domovská stránka</a></li>
        <li>Žádný zaměstnanec s daným ID neexistuje</li>
    </ul>
</nav>
<article>
    <h1>Žádná stránka s daným názvem neexistuje</h1>
    <p>Stránka s daným názvem neexistuje. Prosím zadejte platný název stránky (prehled, detail, editace nebo vlozeni).<p>
</article>
</body>
</html>