body{
    font-family: Arial;
}
#search{
    margin: 1em 1em 2em 1em;
}
#menu {
    background-color: #9f0000;
}
#menu > ul {
    list-style-type: none;
}

#menu > ul > li:hover{
    background-color: white;
    border: 0.1em solid #9f0000;
    display: inline-block;
    padding: 1em 1.5em 1em 1.5em;
    color: #9f0000;
}
dt{
    font-weight: bolder;
}
#menu > ul > li:hover > a{
    color:#9f0000;
}
#menu > ul > li:hover > a:visited{
    color:#0000aa;
}

#menu > ul > li{
    background-color: #9f0000;
    border: 0.1em solid #9f0000;
    display: inline-block;
    padding: 1em 1.5em 1em 1.5em;
    color: white;
}
body{
}
img{
    max-width: 8em;
    max-height: 8em;
}
.bodyDiv{
    text-align: left;
    margin: auto;
    max-width: 70%;
}
.mandatory{
    font-weight: bolder;
}
label{
    display: inline-block;
    min-width: 8em;
}
.empty:after{
    content: "";
}
label:after{
    content: ":";
}
#menu > ul > li > a{
    color:white;
}
#menu > ul > li > a:visited{
    color:#fffa00;
}

#drobeckovaNavigace > ul {
    list-style-type: none;
}
#drobeckovaNavigace > ul > li{
    display: inline;
}
#drobeckovaNavigace> ul > li > a{
    margin: 1em 1em 1em 1.5em;
}
#drobeckovaNavigace> ul > li:first-child:before{
    content: "";
}
#drobeckovaNavigace> ul > li:before{
    content: ">>";
}
.information{
    display: inline-block;
}
.information > ul{
    list-style-type: none;
}