<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vložení zaměstnance</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
<nav id="menu">
    <ul>
        <li><a href="{{ baseurl }}?page=prehled">Přehled zaměstnanců</a></li>
        <li>Vložení zaměstnance</li>
    </ul>
</nav>
<nav id="drobeckovaNavigace">
    <ul>
        <li><a href="{{ baseurl }}index.php">Domovská stránka</a></li>
        <li>Vložení zaměstnance</li>
    </ul>
</nav>
{% if error != "" %}
<p>{{error}}</p>
{% endif %}
    <form id="addEmployee" method="post" enctype="multipart/form-data">
        <div><label class="mandatory">Jméno</label><input type="text" name="name"/></div>
        <div><label class="mandatory">Příjmení</label><input type="text" name="surname"/></div>
        <div><label class="mandatory">E-mail</label><input type="text" name="email"/></div>
        <div><label class="mandatory">Fotografie</label><input type="file" accept="image/*" name="photo" id="photo"/></div>
        <div><label>Telefon</label><input type="text" name="phone"/></div>
        <div><label>Webové stránky</label><input type="text" name="website"/></div>
        <div><label>Popis</label><input type="text" name="description"/></div>
        <div><label class="empty"></label><input type="submit" id="addNewEmployee" name="add" value="Přidat zaměstnance"/></div>
    </form>
</body>
</html>