<!DOCTYPE html>
<html lang="en">
<head>
    <title>Žádný zaměstnanec s daným ID neexistuje</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="author" content="Daniel Šup">
    <meta name="keywords" content="žádný zaměstnanec s daným ID neexistuje">
    <meta name="description" content="Error - žádný zaměstnanec s tímto ID neexistuje.">
    <link rel="stylesheet" type="text/css" href="styly.css"/>
</head>
<body>
<form id="search">
    <input type="hidden" name="page" value="prehled"/>
    <div><label>Jméno</label><input type="text" name="name"/></div>
    <div><label>Příjmení</label><input type="text" name="surname"/></div>
    <div><label>Funkce</label><input type="text" name="role"/></div>
    <div><label>E-mail</label><input type="text" name="email"/></div>
    <div><label>Telefon</label><input type="text" name="phone"/></div>
    <div><label>Webové stránky</label><input type="text" name="website"/></div>
    <div><label class="empty"></label><input type="submit" id="searchEmployees" value="Vyhledat zaměstnance"/></div>
</form>
<nav id="menu">
    <ul>
        <li><a href="{{ baseurl }}?page=prehled">Přehled zaměstnanců</a></li>
        <li><a href="{{ baseurl }}?page=vlozeni">Vložení nového zaměstnance</a></li>
    </ul>
</nav>
<nav id="drobeckovaNavigace">
    <ul>
        <li><a href="{{ baseurl }}index.php">Domovská stránka</a></li>
        <li>Žádný zaměstnanec s daným ID neexistuje</li>
    </ul>
</nav>
<article>
    <h1>Žádný zaměstnanec s daným ID neexistuje</h1>
    <p>Zaměstnanec s daným ID v databázi neexistuje. V databázi může existovat jiná entita s tímto ID, ale neexistuje tam žádný takový zaměstnanec.<p>
</article>
</body>
</html>